<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "Pond", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <header>
      <a href="https://kujira.network/" target="_blank">
        <img src={Routes.static_path(@conn, "/images/kujira-logo.png")} class="logo" alt="Kujira Logo"/>
      </a>
      <nav>
        <ul class="links">
          <li><a target="_blank" href="https://docs.kujira.app/developers/developer-kickstart-page">Get Started</a></li>
          <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
            <li><%= link "LiveDashboard", to: Routes.live_dashboard_path(@conn, :home) %></li>
          <% end %>
        </ul>
      </nav>
    </header>
    <%= @inner_content %>
    <section class="row footer">
      <article class="column">
        <h2>Resources</h2>
        <ul class="links">
          <li>
            <a target="_blank" href="https://hexdocs.pm/kujira">kujira-ex documentation</a>
          </li>
          <li>
            <a target="_blank" href="https://docs.kujira.app/developers/developer-kickstart-page">Developer documentation</a>
          </li>

          <li>
            <a target="_blank" href="https://hexdocs.pm/phoenix/overview.html">Phoenix Guides &amp; Docs</a>
          </li>
        </ul>
      </article>
      <article class="column">
        <h2>Help</h2>
        <ul class="links">
          <li>
            <a target="_blank" href="https://twitter.com/TeamKujira">Twitter @TeamKujira</a>
          </li>
          <li>
            <a target="_blank" href="https://t.me/team_kujira">Kujira Telegram</a>
          </li>
          <li>
            <a target="_blank" href="https://discord.gg/teamkujira">Kujira Discord</a>
          </li>
        </ul>
      </article>
    </section>

  </body>
</html>
