/* This file is for your main application CSS */
@import "./pond.css";

html {
  height: 100%; /* We still have to fix html height */
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1.5rem 1.5rem 1rem;
}

header .logo {
  display: block;
  width: auto;
  height: 2.85rem;
}

header nav {
  margin-left: auto;
  margin-right: 0;
  width: auto;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 2rem;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  margin: 0 0 0.5rem;
}

p {
  font-size: 0.875rem;
  margin-bottom: 1em;
}

strong {
  font-weight: 600;
}


pre {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0.75rem;
  font-size: .75rem;
  line-height: 1.33333333;
  color: var(--grey);
  background-color: var(--black);
  border-radius: 0.25rem;
  overflow-x: scroll;
  scrollbar-color: rgba(96,125,139,.25) rgba(0,0,0,0);
  scrollbar-width: thin;
  font-family: 'Inconsolata', monospace;
  white-space: break-spaces;
}


.hero {
  width: 100%;
  max-width: 800px;
  padding: 0.75rem;
  background-color: var(--black);
  border-radius: 0.25rem;
  scrollbar-color: rgba(96,125,139,.25) rgba(0,0,0,0);
  scrollbar-width: thin;
  font-family: 'Inconsolata', monospace;
  margin-top: 0.5rem;
}

dl {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.75rem;
}

dt {
  text-align: right;
  width: 30%;
  color: var(--grey);
  padding-right: 0.5rem
}

dd {
  width: 70%;
  margin: 0;
  color: var(--white);
  word-break: break-all;
}

ul.links {
  list-style: none;
  padding: 0;
}

ul.links a {
  color: var(--teal);
  font-size: 0.9rem;
}

.footer {
  display: flex;
  width: 100%;
  padding: 0.75rem;
  margin-top: auto;
  padding: 2rem 4rem;
  justify-content: center;
  gap: 4rem;
}